In [1]:
import pandas as pd
import numpy as np

In [2]:
#Display data
marvel= pd.read_csv('marvel-wikia-data.csv')
marvel.head()
print(marvel["SEX"].value_counts())
print(marvel["ALIGN"].value_counts())

Male Characters           11638
Female Characters          3837
Agender Characters           45
Genderfluid Characters        2
Name: SEX, dtype: int64
Bad Characters        6720
Good Characters       4636
Neutral Characters    2208
Name: ALIGN, dtype: int64

In [3]:
# Filter the DataFrame
bad_women = marvel[(marvel['SEX'] == 'Female Characters') & (marvel['ALIGN'] == 'Bad Characters')]

# Count the number of rows
num_bad_women = len(bad_women)

print(f'The number of bad characters that are women is {num_bad_women}')

The number of bad characters that are women is 976

In [4]:
# Subset of Female Bad Characters
Condition = (marvel['SEX'] == "Female Characters") & (marvel['ALIGN'] == "Bad Characters")
female_subset = marvel[Condition]
female_subset.to_csv("female_subset.csv",index=False)

In [5]:
nodes=pd.read_csv("marvel-unimodal-nodes.csv")
nodes.head()

                        Id                    Label
0   Black Panther / T'chal   Black Panther / T'chal
1         Loki [asgardian]         Loki [asgardian]
2        Mantis / ? Brandt        Mantis / ? Brandt
3    Iceman / Robert Bobby    Iceman / Robert Bobby
4  Marvel Girl / Jean Grey  Marvel Girl / Jean Grey

In [6]:
edges=pd.read_csv("marvel-unimodal-edges.csv")
edges.head()

                   Source                   Target  Weight
0  Black Panther / T'chal         Loki [asgardian]      10
1  Black Panther / T'chal        Mantis / ? Brandt      23
2  Black Panther / T'chal    Iceman / Robert Bobby      12
3  Black Panther / T'chal  Marvel Girl / Jean Grey      10
4  Black Panther / T'chal   Cyclops / Scott Summer      14

In [7]:
#get hero name from marvel

names = marvel["name"]
for index in range(len(names)):
    stop = names[index].find("(")
    names[index] = names[index][:stop]
marvel

/var/folders/s_/kgcrc06d2vg54yxmlqm3tygw0000gn/T/ipykernel_2615/2459377847.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  names[index] = names[index][:stop]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man,\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America,\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,Wolverine,\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,Iron Man,\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor,\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16371,657508,Ru'ach,\/Ru%27ach_(Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16372,665474,Thane,\/Thane_(Thanos%27_son)_(Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16373,695217,Tinkerer,\/Tinkerer_(Skrull)_(Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16374,708811,TK421,\/TK421_(Spiderling)_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16375,673702,Yologarch,\/Yologarch_(Earth-616),NaN,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,NaN,NaN,NaN

In [8]:
#get hero name from nodes

nodes.head()

names = nodes["Id"]
for index in range(len(names)):
    if names[index].find("/") != -1:
        stop = names[index].find("/")
        names[index] = names[index][:stop]
    if names[index].find("[") != -1:
        stop = names[index].find("[")
        names[index] = names[index][:stop]

nodes

                 Id                     Label
0    Black Panther     Black Panther / T'chal
1             Loki           Loki [asgardian]
2           Mantis          Mantis / ? Brandt
3           Iceman      Iceman / Robert Bobby
4      Marvel Girl    Marvel Girl / Jean Grey
..              ...                       ...
322        Makkari   Makkari / Mike Khary / I
323  Hodge, Cameron            Hodge, Cameron
324           Skin     Skin / Angelo Espinosa
325           Husk       Husk / Paige Guthrie
326       Deadpool   Deadpool / Jack / Wade W

[327 rows x 2 columns]

In [11]:
#get hero name from edges

edges.head()

names = edges["Source"]

for index in range(len(names)):
    if names[index].find("/") != -1:
        stop = names[index].find("/")
        names[index] = names[index][:stop]
    if names[index].find("[") != -1:
        stop = names[index].find("[")
        names[index] = names[index][:stop]

names = edges["Target"]

for index in range(len(names)):
    if names[index].find("/") != -1:
        stop = names[index].find("/")
        names[index] = names[index][:stop]
    if names[index].find("[") != -1:
        stop = names[index].find("[")
        names[index] = names[index][:stop]

edges

/var/folders/s_/kgcrc06d2vg54yxmlqm3tygw0000gn/T/ipykernel_2615/1648947219.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  names[index] = names[index][:stop]
/var/folders/s_/kgcrc06d2vg54yxmlqm3tygw0000gn/T/ipykernel_2615/1648947219.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  names[index] = names[index][:stop]

                    Source                Target  Weight
0           Black Panther                  Loki       10
1           Black Panther                Mantis       23
2           Black Panther                Iceman       12
3           Black Panther           Marvel Girl       10
4           Black Panther               Cyclops       14
...                    ...                   ...     ...
9886  Mr. Fantastic Doppel  Iron Man Doppelgange       7
9887  Maddicks, Arthur Art        Hodge, Cameron      18
9888  Maddicks, Arthur Art                 Leech      55
9889                 Leech        Hodge, Cameron      11
9890    Mam'selle Hepzibah        Raza Longknife      34

[9891 rows x 3 columns]