In [1]:
import pandas as pd
import numpy as np

In [2]:
#Display data
marvel= pd.read_csv('marvel-wikia-data.csv')
marvel.head()
print(marvel["SEX"].value_counts())
print(marvel["ALIGN"].value_counts())

SEX
Male Characters           11638
Female Characters          3837
Agender Characters           45
Genderfluid Characters        2
Name: count, dtype: int64
ALIGN
Bad Characters        6720
Good Characters       4636
Neutral Characters    2208
Name: count, dtype: int64

In [3]:
# Filter the DataFrame
bad_women = marvel[(marvel['SEX'] == 'Female Characters') & (marvel['ALIGN'] == 'Bad Characters')]

# Count the number of rows
num_bad_women = len(bad_women)

print(f'The number of bad characters that are women is {num_bad_women}')

The number of bad characters that are women is 976

In [4]:
# Subset of Female Bad Characters
Condition = (marvel['SEX'] == "Female Characters") & (marvel['ALIGN'] == "Bad Characters")
female_subset = marvel[Condition]
female_subset.to_csv("female_subset.csv",index=False)

In [5]:
nodes=pd.read_csv("marvel-unimodal-nodes.csv")
nodes.head()

                        Id                    Label
0   Black Panther / T'chal   Black Panther / T'chal
1         Loki [asgardian]         Loki [asgardian]
2        Mantis / ? Brandt        Mantis / ? Brandt
3    Iceman / Robert Bobby    Iceman / Robert Bobby
4  Marvel Girl / Jean Grey  Marvel Girl / Jean Grey

In [6]:
edges=pd.read_csv("marvel-unimodal-edges.csv")
edges.head()

                   Source                   Target  Weight
0  Black Panther / T'chal         Loki [asgardian]      10
1  Black Panther / T'chal        Mantis / ? Brandt      23
2  Black Panther / T'chal    Iceman / Robert Bobby      12
3  Black Panther / T'chal  Marvel Girl / Jean Grey      10
4  Black Panther / T'chal   Cyclops / Scott Summer      14

In [7]:
marvel.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0